* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

*:before, *:after {
    box-sizing: inherit;
}

html {
    font-family: 'Montserat', sans-serif;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
}

body {
    overflow-x: hidden;
}

:root {
    --primary: #FF494F;
    --secondary: #000000;
    --darkgrey: #3F3D56;
    --lightgrey: #3F3D56;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

select{
    font-size: 50px;
}

img {
    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

p, h1, h2, h3, h4, h5, h6, a, label {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--darkgrey);
}

p {
    font-size: 16px;
}

h1 {
    font-weight: 800;
}

h2 {
    font-weight: 800;
    font-size: 45px;
}

h3 {
    font-weight: 800;
    font-size: 35px;
}

.primary-btn {
    font-size: 16px;
    background-color: var(--primary);
    border: 1px solid var(--primary);
    padding: .75em 1.6em .7em;
    border-radius: 4px;
    text-align: center;
    font-weight: 600;
    outline: none;
    color: white;
    cursor: pointer;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.15);
}

.secondary-btn {
    font-size: 16px;
    border: 1px solid #ffffff;
    padding: .75em 1.6em .7em;
    border-radius: 4px;
    text-align: center;
    font-weight: 600;
    outline: none;
    color: var(--darkgrey);
    cursor: pointer;
    background: #ffffff;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.15);
}

.container {
    width: 90%;
    margin: auto;
    padding: 90px 0;
    max-width: 1600px;
}

@media screen and (max-width: 950px) {
    .container {
        width: 90%;
    }
    h2 {
        font-size: 38px;
    }
    h3 {
        font-size: 32px;
    }
}

@media screen and (max-width: 450px) {
    .primary-btn,
    .secondary-btn {
        padding: 10px 12px;
    }
    h2 {
        font-size: 30px;
    }
    h3 {
        font-size: 30px;
    }
}